[submodule "third_party/android-key-attestation"]
	path = third_party/android-key-attestation
	url = https://github.com/google/android-key-attestation.git
[submodule "third_party/prio-server"]
	path = third_party/prio-server
	url = https://github.com/abetterinternet/prio-server
