rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /uuid/{uuid}/date/{date}/metrics/{metricName} {
      allow create: if request.resource.data.uuid == uuid;
    }
  }
}
