{
  "launchParameter": {
    "jobName": "deletion-pipeline-${pipeline_version}",
    "parameters": {%{ if start_time > 0 }
      "startTime": "${start_time}",%{ endif }%{ if autoscaling_algorithm != "" }
      "autoscalingAlgorithm": "${autoscaling_algorithm}",%{ endif }
      "duration":"${window}"
    },
    "environment": {
      "machineType": "${machine_type}",
      "numWorkers": "${worker_count}",
      "serviceAccountEmail": "${service_account}"
    },
    "containerSpecGcsPath": "gs://enpa-pipeline-specs/deletion-pipeline-${pipeline_version}.json"
  }
}
