{
  "launchParameter": {
    "jobName": "${pipeline_name}",
    "parameters": {
      "batchSize": "${batch_size}",
      "keyResourceName": "${key_id}",
      %{~if dev_project~}
      "phaOutput": "gs://${project}/output/pha",
      "facilitatorOutput": "gs://${project}/output/facilitator",
      %{~else~}
      "facilitatorManifestURL": "${facilitator_manifest_url}",
      "phaManifestURL": "${pha_manifest_url}",
      %{~endif~}
      "tempLocation": "${temp_location}",
      "duration":"${window}",%{ if start_time > 0 }
      "startTime": "${start_time}",%{ endif }%{ if autoscaling_algorithm != "" }
      "autoscalingAlgorithm": "${autoscaling_algorithm}",%{ endif }%{ if package_name != "" }
      "packageName":"${package_name}",%{ endif }%{ if package_signature_digest != "" }
      "packageSignatureDigest":"${package_signature_digest}",%{ endif }
      "deviceAttestation": "${enable_device_attestation}"
    },
    "environment": {
      "machineType": "${machine_type}",
      "numWorkers": "${worker_count}",
      "maxWorkers": "${max_worker_count}",
      "serviceAccountEmail": "${service_account}"
    },
    "containerSpecGcsPath": "gs://enpa-pipeline-specs/ingestion-pipeline-${pipeline_version}.json"
  }
}
